@CHARSET "ISO-8859-1";

body 
	{
	background-image:url('IBROKE.png');
	margin:0px;
	background-repeat:no-repeat;
	background-color:#F9FDFF;
	background-attachment:fixed;
	background-origin:border-box;
	background-size:auto auto;
	} 
	
#header
{
	padding-left:auto;
	padding-top:auto;
}

#main
{
	padding-left:350px;
	padding-top:200px;
	postion:fixed;
}