@CHARSET "ISO-8859-1";

body 
	{
	background-image:url('IBROKE.png');
	margin:0px;
	background-repeat:no-repeat;
	background-color:white;
	background-attachment:fixed;
	background-origin:border-box;
	background-size:100% 100%;
	} 